{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
<div class="container py-5">
    <h1>Ajouter une annonce</h1>

    {# {% if app.request.attributes.get('_route') == 'annonces'%} #}
    {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}

        {% for image in annonce.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="image" width="150">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a class="btn" href="{{ path('annonces_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}
    <button class="btn btn-primary" type="submit">Ajouter</button>
    {{ form_end(formulaire) }}
</div>
{% endblock %}
