{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
    <h1>Ajouter une annonce</h1>

    {# {% if app.request.attributes.get('_route') == 'annonces'%} #}
    {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}

        {% for image in annonce.images %}
            <div>
                <img src="{{ asset('/uploads/' ~ image.name) }}" alt="image" width="150">

                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a href="{{ path('annonces_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        {% endfor %}

    {{ form_end(formulaire) }}
{% endblock %}
