{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block main %}
<div class="container" style="min-height: calc(100vh - 215.96px - 57px)">
	<h1>{{controller_name}}</h1>
	<div>
		<a href="{{path('admin_categories_ajout')}}" class="btn btn-outline-primary">Ajouter une catégorie</a>
	</div>
	<br>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Parent</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.name}}</td>
                        <td>{{categorie.parent}}</td>
                        <td><a href="{{ path('admin_categories_modifier',{id:categorie.id} )}}" class="btn btn-primary">modifier</a></td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</div>{% endblock %}
