{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<h1>{{controller_name}}</h1>
    <a href="{{path('admin_categories_ajout')}}" class="btn shadow-1 rounded-1 blue">Ajouter une catégorie</a>
	<div class="responsive-table">
		<table class="table striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Parent</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{categorie.id}}</td>
                        <td>{{categorie.name}}</td>
                        <td>{{categorie.parent}}</td>
                        <td><a href="{{ path('admin_categories_modifier',{id:categorie.id} )}}" class="btn shadow-1 rounded-1 blue">modifier</a></td>
                    </tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
</div>{% endblock %}
