<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Petites Annonces{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link href="/css/footer.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('/js/images.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_home')}}">Petites Annonces</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            {% if app.user.name is not defined %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">inscription</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('users') }}">
                                {{app.user.name}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('users_annonces_ajout') }}">Ajouter une annonce</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                            </li>
                            {% endif %}
                            {% if app.user.roles[0] is defined and app.user.roles[0] is same as 'ROLE_ADMIN' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_home') }}">Administrateur</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block main %}{% endblock %}
        <footer class="w-100 align-self-end bg-info bg-opacity-25">
                <p class="my-0" style="text-align:justify;"> Symbole ©. Signification Copyright entreprise. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi temporibus sint praesentium sequi doloremque quaerat ex? Autem ipsam blanditiis corrupti natus, fugit nemo sequi inventore praesentium? A eius nemo iure? Lorem ipsum, dolor sit amet consectetur adipisicing elit. A beatae quidem aliquid. Id quia quae sint assumenda quisquam consequatur ullam in veniam ratione culpa, impedit adipisci itaque tempora provident expedita?Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore perferendis tempore iusto inventore quasi velit, aperiam praesentium voluptate, nihil doloremque modi enim magnam? Dolor eaque est atque, voluptates dolorem delectus?
                Eveniet tenetur neque magnam corrupti! Consequatur placeat quibusdam quos aperiam similique dicta illum, animi, in deleniti debitis eaque! Itaque vitae expedita, rerum enim molestiae hic ea autem voluptatem facilis id?
                A magni amet voluptatum, quo pariatur ab aliquam possimus aut quibusdam in incidunt fugiat facilis fugit saepe voluptates cumque maxime deleniti rerum ipsam ratione reiciendis explicabo nisi obcaecati? Itaque, minus.
                Eveniet alias iusto incidunt esse nihil mollitia cum ipsa, consequatur quidem voluptatibus voluptatem minima possimus repudiandae sit numquam porro ipsum repellat odit officiis maiores fugit non quod. A, voluptates molestiae.
                Doloribus velit quam sequi hic praesentium perspiciatis consequuntur, aut a error odio! Aspernatur similique illum quaerat sint rem doloremque soluta dolores velit nihil ad cupiditate aliquid, reiciendis eveniet natus repudiandae.
                Alias dicta, excepturi ipsum eaque, commodi velit reiciendis quam, blanditiis amet quas harum et non culpa vero nobis esse debitis corrupti ratione qui voluptas necessitatibus! Error, reiciendis architecto. Accusantium, dolore?
                Dolore, natus quos inventore assumenda maiores asperiores vitae ratione quaerat dignissimos voluptas sint facilis libero sequi? Nesciunt possimus, perferendis earum ipsum animi placeat iste fugiat repudiandae amet commodi dolor totam.
                Et consectetur ab eos modi maiores necessitatibus accusantium eius quia tempora nemo dolor mollitia laborum in dignissimos itaque quaerat aliquam accusamus autem doloribus, harum nulla ex aut. Neque, adipisci repudiandae!
                Nesciunt libero quia non, voluptatum at accusamus perferendis nemo omnis asperiores ipsa aliquam quos fugiat saepe cum dolores reprehenderit! Ex eligendi adipisci quasi delectus nihil accusamus ipsam ipsum eum voluptate?
                Officia, commodi autem praesentium ullam et numquam pariatur tempore iure inventore provident saepe, nostrum nihil vitae, dolore magni quae! Quos, consequatur eius. Quae, sed quia. Iure tempora sequi rem explicabo.</p> 
        </footer>
    </body>
</html>
