{% extends 'users.html.twig' %}

{% block title %}profil Utilisateur
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="p-3 my-2 rounded-1 green light-4 txt-green txt-dark-4">{{message}}</div>
		{% endfor %}
		<div class="col-xs4"><h1> Profile de {{ app.user.name }} {{ app.user.firstname }} </h1></div>
		<div class="col-xs1">Nom :</div>
		<div class="col-xs3">{{ app.user.name }}</div>
		<div class="col-xs1">Prénom :</div>
		<div class="col-xs3">{{ app.user.firstname }}</div>
		<div class="col-xs1">email</div>
		<div class="col-xs3">{{ app.user.email }}</div>
		<div class="col-xs4">
            <a href="{{ path('users_profil_modif')}}" class="btn shadow-1 rounded-1 blue">modifier mon profile</a>
            <a href="{{ path('users_passe_modif')}}" class="btn shadow-1 rounded-1 blue">modifier mon mot de passe</a>
        </div>
	</div>
    <br>
    <div class="grix xs4 container">
        <div class="col-xs4"><h1>Mes annonces ({{ app.user.annonces | length}})</h1></div>
        {% for annonce  in app.user.annonces %}
            <div class="col-xs1">Titre :</div>
		    <div class="col-xs3">{{ annonce.title }}</div>
		    <div class="col-xs3">{{ annonce.content }}</div>
        {% endfor %}
    </div>
{% endblock %}
